<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper py-2 pl-4">
          <a class=" font-bold text-xl" href="javascript:void(0)">Dashboard</a>
        </div>
        <div class="flex pr-3 items-center space-x-4">
            <button mat-flat-button class=" text-white bg-teal-600 font-semibold uppercase mr-4 items-center space-x-2" ><i class="material-icons">add</i> Add new member</button>
            <i class="material-icons">chat</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">more_horiz</i>
        </div>
    </div>
</nav>
